<!DOCTYPE html>
<html>
    
    <head>
        <title>Gilbert Alipui Teikametrics Code Challenge</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.0.0/classic/theme-crisp/resources/theme-crisp-all.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.0.0/ext-all-debug.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.0.0/classic/theme-crisp/theme-crisp-debug.js"></script>
        <script type="text/javascript" src="../app.js"></script>
		<style>
		#ajaxDiv{
		  width: 800px;
		  height: 100px;
		  background-color: #F2F7FC;
  
		  position: absolute;
		  top:0;
		  bottom:0;
		  left:0;
		  right:0;
  
		  margin:auto;
		}
		</style>        
    </head>
    
    <body>
    <div id = 'ajaxDiv'>Watch this space for your results</div>
    </body>

</html>